body{
    overflow-x: hidden;
    background-color: rgb(17, 61, 118)!important;
}

.contKing{
    display:flex;
}
.color{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 600px;
    clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
    filter: blur(8px);
}
.contenedor{
    background-color: white;
    box-shadow: -11px 7px 22px -7px rgba(0,0,0,0.81);
    width: 60%;
    height: 500px;
    margin: 50px auto;
    padding: 20px;
    overflow-y: scroll;
}
.contenedor h1{
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid lightgray;
}
.doctores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    border-bottom: 2px solid lightgray;
    padding: 20px;
}
.fotoPerfil{
    width: 40%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.fotoPerfil img{
    height: 200px;
    width: 200px;
    clip-path: circle(50% at 50% 50%);
}
.iniciarConsulta{
    background-color: #0d6efd;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    color: white;
    font-size: 1.2em;
    margin-top: 10px;
}
.iniciarConsulta:hover{
    transform: scale(1.05);
    transition: 1s;
}
.informacion{
    width: 60%;
    margin: 0px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.informacion h4{
    font-weight: lighter;
}


/*efecto de ventana emergente*/
.overlay {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    color: black;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
	align-items: center;
    height: 100%;

}



/*caja padre*/
#popupBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 270px;
    width: 40%;
    height: 80%;
    margin-top: 40%;
    margin-bottom: 25%;
    border-radius: 15px;
    background: #FFF;
    transition: all 500ms ease;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    border: 1px solid #fcfcfc;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    color: rgb(0, 0, 0);
    font-weight: lighter;

}

#popupBody div{
    width: 70%;
    margin: 5px;
}
/*caja 1*/
#popupBody .caja1{
    display: flex;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.caja1 img{
    width: 30%;
}


/*caja 2*/
#popupBody .caja2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 40%;
    width: 90%;
}
#popupBody .caja2 input{
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    border-radius: 3px;
    color: rgb(0, 0, 0);
    width: 70%;
    font-weight: lighter; 
    font-size: 110%;
}
#popupBody .caja2 #NP{
    text-align: center;
}
#popupBody .caja2 .Dess{
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    border-radius: 3px;
    color: rgb(0, 0, 0);
    width: 90%;
    padding-bottom: 17%;
    font-weight: lighter; 
}
#popupBody .caja2 input::placeholder{
    color: white;
}


/*caja 3*/
#popupBody .caja3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0d6efd;
}
#popupBody .caja3 input{
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #0d6efd;
    backdrop-filter: blur(15px);
    border-radius: none;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-size: 1em; 
    padding: 10px;
}
#popupBody .caja3 input:hover{
	background-color: #0d6efd;
    border-radius: none;
}


/*boton de cerrar popup*/
#cerrar{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    background-color: #0d6efd  !important;
    color: rgb(0, 0, 0);
}


@media screen and (max-width: 1000px){

    .contenedor{
        overflow-x: hidden;
        width: fit-content;
        height: 50%;
    }

    .contenedor h1{
        margin-bottom: 0;
    }

    .doctores{
        flex-direction: column-reverse;
    }

    .fotoPerfil{
        width: 100%;
        margin-top: 20px;
    }

    .fotoPerfil img{
        height: 150px;
        width: 150px;
    }

    .informacion{  
        width: 100%;
        
    } 

    .informacion h4{
        font-size: 1.2em;
    }
}
